<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a Trip</h1>
    {% for message in messages %}
        <p style="color:red">{{message}}</p>
    {% endfor %}
    <form action="/createtrip" method="post">
        {% csrf_token %}
        <p>Destination: <input type="text" name="dest" id=""></p>
        <p>Description: <input type="text" name="desc" id=""></p>
        <p>Travel Date From: <input type="date" name="fdate" id=""></p>
        <p>Travel Date To: <input type="date" name="tdate" id=""></p>
        <input type="submit" value="Add">

    </form>
    <a href="/success">Home</a>
    <a href="/logout">Logout</a>
</body>
</html>